# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
backend/uploads/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# for python 
# Byte-compiled / optimized / legacy Python files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor files
.vscode/
.idea/
*.swp
*~
.DS_Store # macOS system file

# Testing and coverage
.pytest_cache/
.coverage

# Logs and databases
*.log
*.sqlite3

# Python specific locks and versions
.python-version
# lock files are generally recommended to be included in version control, 
# but you might choose to ignore them for specific library projects.
# Pipfile.lock
# poetry.lock
# uv.lock

